html {
    background: #f0eeee;
    text-align: left;
    font-family: "EB Garamond", serif;
}

#heart {
    height: 223px;
    margin-left: 4%;
}

#drawing {
    width: 92%;
    margin-left: 20px;
}

#wait {
    background-color: rgb(233, 246, 233);
}

#waaaitExplanation {
    clear: both;
    text-align: center;
}

.identifier {
    text-align: center;
    clear: both;
}

.container {
    width: 66%;
    margin-left: 17%;
    margin-top: 69px;
}
